.ac-container {
  width: 550px;
  padding: 10px;
  border: 1px solid rgb(48, 6, 7);
  border-radius: 10px;
  font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
}
.ac-container li {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}
.ac-container .ac-menu-section {
  border: 1px solid rgb(48, 6, 7);
  padding-bottom: 1px;
  margin-bottom: 1px;
}
.ac-menu-section label {
  padding: 5px;
  position: relative;
  display: block;
  cursor: pointer;
  background: #e25e2d;
  color: black;
}
.ac-menu-section label:hover {
  background: #f27b4f;
}
.ac-menu-section input {
  display: none;
}
.ac-menu-section .selected {
  background: #b70736;
  color: white;
}
.ac-menu-section .content {
  margin-top: -1px;
  overflow: hidden;
  height: 0px;
  position: relative;
  transition: 0.5s all;
}
.content {
  margin-left: 5px;
}
.content.active {
  height: 250px;
}
.content .menu-item {
  padding: 10;
  margin-left: -40px;
  text-align: left;
}
.content h2 {
  font-size: 1em;
}
.content h3 {
  font-size: 0.8em;
}
.content .menu-item {
  font-size: 0.75em;
}
