* {
    box-sizing: border-box;    
}

.thumbnails {
  position: absolute;
  z-index: 1;
  padding: 0px;
  margin: 0px;
}

.thumbnails li{  margin: 0;
  list-style: none; 
  display: block;
  height: 100%;  
  position: relative;
  background-color: #535759;
  border: 5px solid #535759;
  float: left;
  padding: 0px;
  margin: 0px;
}

.thumbnails li:hover{
  cursor: pointer;
}

.image {
  position: absolute;
  z-index: 0;
  width: 99%;  
}

.image img {
  width: 100%;  
  transition: 5s all;
}