* {
    box-sizing: border-box;
}
.split-left {
  width: 50%;
  float: left;
}
.split-right {
  width: 50%;
  float: right;
}
/* Product Display */
.product-listing {
    border: 1px solid pink;
}
.product-details {
    height: 100px;
    border: 1px solid darkred;
    margin: 2px;
}
.product-details .product-image {
    border: 1px solid blue;
    width: 61%;
    float: left;
}
.product-details .product-text {
    border: 1px solid blue;
    width: 39%;
    float: right;
}
.product-details .product-text .product-name {
    width: 100%;
}
/* Cart */
.cart {
    border: 1px solid pink;
}
.cart .cart-products {
    width: 61%;
    float: left;
    border: 1px solid red;
}
.cart .product-cart-listing {
    border: 1px solid darkred;
    margin: 2px;
    height: 100px;
}
.cart .product-cart-listing .product-image {
    float: left;
}
.cart .product-cart-listing .product-text {
    float: right;
}
.product-cart-listing .product-quantity-row {
    width: 100%;
}
.product-quantity-row input {
    width: 35px;
}
/* Cart Details */
.cart .cart-details {
    width: 39%;
    float: right;
    border: 1px solid royalblue;
}
.cart-details .total-price {
  height: 40px;
}
.cart-details .price-display {
  font-size: 30px;
  font-style: oblique;
}
.cart-details input {
    width: 100%;
    height: 40px;
}
.cart-details .cart-price-section .total-price {
    width: 50%;
    float: left;
}
.cart-details .cart-price-section .apply-voucher {
    width: 50%;
    float: right;
}
.cart-details .apply-voucher {
    width: 100%
}
.apply-voucher .split-left {
  width: 70%;
  float: left;
}
.apply-voucher .split-right {
  width: 30%;
  float: right;
}
.cart-details .checkout-buttons input{
  height: 50px;
  width: 50%;
  float: left;
}
