* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body {
    background: linear-gradient(#fcdce2, #eee);
}
.split-left {
  width: 62%;
  float: left;
}
.split-right {
  width: 38%;
  float: right;
}
.hidden {
    display: none;
}
.visible {
    display: block;
}
.w0 {
  width: 0px;
}
.w100 {
    width: 100%;
  }
h1 {
  padding-left: 10px;
}
.button {
  background: linear-gradient(#d1caca, #e58282);
  border: none;
  border-radius: 5px;
  margin: 1px;
  cursor: pointer;
}
.button:hover {
  background: linear-gradient(#e58282, #d1caca);
  border: none;
  border: 1px solid #e58282;
}
input:focus {
  outline:none;
  border: 1px solid #e58282;
}
/* checkout button */
#display-checkout {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 15px;
  margin-right: 15px;
}
#display-checkout button {
  font-size: 1.5em;
  outline: none;
}
/* Product Display */
#products {
    border: 1px solid darkred;
}
#product-listing {
    border: 1px solid pink;
}
.product-details {
    max-height: 100%;
    border: 1px solid darkred;
    margin: 10px;
    overflow: auto;
    padding: 15px;
}
.product-details .product-image {
    width: 62%;
    float: left;
}
.product-details img {
    width: 100%;
    max-width:800px;
    height:100%;
    max-height: 500px;
}
.product-text {
    width: 38%;
    float: right;
    display: block;
    padding-left: 20px;
    padding-right: 10px;
}
.product-name {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
}
.product-text .product-price {
    font-size: 25px;
    font-weight: 600;
    font-style: oblique;
    float: left;
}
.add-to-cart-button {
    height: 32px;
    font-size: 16px;
    float: right;
    font-style: oblique;
    padding-left: 15px;
    padding-right: 15px;
}
.add-to-cart-button:hover, .add-to-cart-button:focus {
  font-size: 1.2em;
  font-weight: bold;
}
.product-description {
    line-height: 1.4
  }
.product-image {
    background-color: white;
    padding: 3em;
  }
/* Cart */
#cart {
    border: 1px solid darkred;
}
#cart-products {
    border: 1px solid pink;
    width: 62%;
    float: left;
    padding: 2px;
}
.product-cart-listing {
    border: 1px solid darkred;
    margin: 2px;
    height: 100%;
    overflow: auto;
}
.product-cart-image {
    float: left;
    width: 62%
}
.product-cart-image img {
    width: 100%;
    max-width:100%;
    height:100%;
    max-height: 500px;
}
.product-cart-listing .product-cart-text {
    float: right;
    width: 38%;
    padding: 2px;
}
.product-cart-quantity-row {
    width: 100%;
    padding: 2px;
}
.product-cart-price {
    font-style: oblique;
}
.product-cart-quantity-row input {
    width: 32px;
}
/* Cart Details */
#cart-details {
    width: 38%;
    float: right;
    border: 1px solid pink;
    padding: 2px;
}
#total-price {
    height: 50px;
    margin-bottom: 20px;
}
.price-display {
    font-size: 30px;
    font-style: oblique;
}
#cart-details input {
    width: 100%;
    height: 40px;
    font-size: 18px;
    margin: 1px;
    padding-left: 2px;
}
#apply-voucher {
    width: 100%;
}
#checkout-buttons input{
    height: 50px;
}
#cart-details .button:hover, .button:focus{
    font-size: 1.2em;
    font-weight: bold;
}
#checkout-button {
    font-size: 1.4em;
}
#checkout-button:hover, #checkout-button:focus{
    font-size: 1.6em;
}
