// site-wide variables to be reused across the scss site

// colour scheme
$aqua: #00e5e5;
$black: black;
$blue: #38BAF0;
$green: #9FCE57;
$darkgreen: #3DC694;
$lightgrey: rgb(220, 219, 219);
$grey: #A9A9A9;
$darkgrey: #717171;
$lilac: #8D9EFF;
$orange: #FFAD41;
$pink: #ff69b4;
$purple: #A75DA7;
$lightpurple: #C29FC2;
$white: white;

