* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

/*
 mobile design - default view - add min widths for increasing screen sizes
*/

body {
  margin: 0;
  width: 100%;
}

nav, footer {
  width: 100%;
  background-color: rgb(167, 93, 167);
  position: fixed;
  overflow: hidden;
}

footer {
  color: white;
  text-align: center;
  bottom: 0px;
  font-size: 0.8em;
}

/* navigation bar */
nav { 
  border-bottom: 1px solid rgb(194, 159, 194);
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  align-items: center;
  top: 0px;
  z-index: 100;
}

nav .name {
  color: white;
  margin: 0px;
  font-size: 1em;
}

.nav-list {
  width: 100%;
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  flex-flow: column wrap;
}

.nav-list li {  
  padding-top: 2px;
  padding-bottom: 2px;  
  display: block;
  font-size: 0.8em;
}

.nav-list li a{
  text-decoration: none;
  color: black;
}

.nav-list .active {
  background-color: rgb(194, 159, 194);
}
.nav-list li:hover {
  background-color: rgb(194, 159, 194);
}

/* search field */
.search-component {
  font-size: 0.5em;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.search-component label {
  position: absolute;  
  top: 6px;
  left: 10px;
  z-index: -1;
}

.search-component input {  
  background: transparent;
  width: 80px;
  border: none;
  border-bottom: 1px solid rgb(194, 159, 194);  
  z-index: 2;
}

.search-component .search-button {
  position: absolute;
  top: 3px;
  right: 10px;
  z-index: 3;
  cursor: pointer;
}


/* Container-specific section*/
#content-container {
  margin: auto;
  width: 100%;
}

.content {
  min-height: 100vh;
  max-height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid red; 
}

.content .content-section-title {
  margin-top: 100px;
}

.content h1, h2, h3 {
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  font-weight: 400;
}

.content .section-description {  
  text-align: center;
  font-size: 0.8em;
}

.content p {
  text-decoration: none;
  font-size: 0.8em;
  font-weight: 300;
}

/* Projects Page */
.components-container {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  font-size: 0.8em;
  height: 100%;
}

/* Components List */
.components-container .components-list {
  list-style: none;
  width: 25%;
  margin: 0;
  padding: 0;
}

.components-container .component-list-item {
  text-decoration: none;
  font-size: 0.8em;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.components-container .component-list-item:hover {
  border-right: 2px solid rgb(167, 93, 167);
}

/* Component Container */
.components-container .selected-component {
  background: darkgrey;
  color: rgb(167, 93, 167);
  font-weight: 400;
}

.components-container .components-display-container {
  background-color: darkgrey;
  width: 75%;
  position: relative;
  min-height: 300px;
}

.components-display-container .component-display {
  min-height: 300px;
  position: absolute;
  opacity: 0;  
}

.components-display-container .selected-component {
  opacity: 1;
  z-index: 50;
}

/* Carousel settings */
.component-display .carousel {
  width: 90%;
  margin: 10px;
}

.carousel h2{
  text-align: center;
}

.carousel img {
  width: 100%;
  object-fit: cover;
}

.carousel-container {
  max-width: 800px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.carousel-page {
    display: none;
    position: relative;
    margin: 0 auto;
}

.carousel-page ul {
  list-style: none;
  padding: 0;
}

.carousel-page ul a {
  color: rgb(167, 93, 167);
}

.carousel-page p a {
  color: rgb(167, 93, 167);
}

.carousel-page .image-text {
  text-align: center;
  margin: 20px;
  font-size: 1.2em;
}

.carousel-page img {
  display: block;
  margin: 0 auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 200px;
  width: auto;
  margin-top: -22px;
  padding: 6px;
  color: black;
  background-color: rgba(100,100,100,0.2);
  font-weight: bold;
  font-size: 10px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Component Footer */
.components-container .component-footer {
  position: absolute;
  bottom: 0px;
  padding-top: 10px;
}

.component-footer a {
  text-decoration: none;
  font-size: 0.7em;
}

.component-footer .component-project-link {
  color: rgb(110, 110, 247);
}

.component-footer .component-source-link {
  color: rgb(112, 109, 109);
}


/* Skills Page */

/* show all graphs in single column */
.graphs {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.graphs ul {
  list-style: none;
  padding: 0;
}

/* each graph consists of three rows: 
  title
  top row (scale and content)
  bottom row (x-axis values)
*/
.graph {
  width: 90%;
  max-width: 230px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.graph .graph-title {
  text-align: center;
  font-size: 1em;
  padding-bottom: 20px;
}

.graph .graph-top-row {
  width: 100%;
  border-bottom: 1px solid lightgray;
  display: flex;
}

.graph .graph-top-row ul {
  list-style: none;
  margin: 0;
}

.graph-scale {
  width: 25%;
  font-size: 0.7em;
}

.graph-scale li {
  text-align: right;
  padding-bottom: 10px;
}

.graph .graph-content {
  width: 75%;
  display: flex;
  justify-content: space-around;  
}

/* edit the bottom row (x-axis) of the graph */
.graph .graph-bottom-row {
  width: 100%;
  display: flex;
  flex-direction: row;  
  font-size: 0.7em;
}

/* the space at the left under the scale */
.graph-bottom-row .graph-space {
  width: 25%;
  min-width: 60px;
}

.graph-bottom-row .graph-x-axis{
  width: 75%;
}

.graph-x-axis li {
  float: left;
  width: 25%;
  transform: rotate(45deg);
  padding-top: 10px;
  padding-bottom: 10px;
} 

/* manage the bars in the bar graph*/
.graph-content .rating {
  width: 25px;
  align-self: flex-end;
}

/* give each topic a unique colour */
.rating.javascript-proficiency {
  background-color: #FFAD41;
}
.rating.html-css-proficiency {
  background-color: #38BAF0;
}
.rating.reactjs-proficiency {
  background-color: #69D12B;
}
.rating.jquery-proficiency {
  background-color: #FA8CB0;
}
.rating.other-one-proficiency {
  background-color: #9FCE57;
}
.rating.other-two-proficiency {
  background-color: #3DC694;
}
.rating.other-three-proficiency {
  background-color: #4EC1F2;
}
.rating.other-four-proficiency {
  background-color: #8D9EFF;
}

/* graph heights */
.rating.none {
  height: 100%;
  background-color: white;
}

.rating.quarter {
  height: 25%;
}

.rating.half {
  height: 50%;
}

.rating.three-quarter {
  height: 75%;
}

.rating.full {
  height: 100%;
}


/* Tooltop Functionality */
 /* Tooltip container */
 .tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} 


/* About Page */
#contact-section .contact-links {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

#contact-section .contact-link {
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-section .contact-link img {
  margin: 5px;
}

#contact-section .contact-link a {
  text-decoration: none;
  color: black;
  font-size: 0.8em;
}


/* responsive changes */
@media (min-width: 361px) {
    /* nav bar changes */
    nav {
      flex-flow: column;
      font-size: 1em;
      border-bottom: 2px solid rgb(194, 159, 194);
    }

    nav .name {
      margin: auto;
      text-align: center;
      padding: 3px;
      font-size: 1em;
    }

    .nav-list {
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
    }

    .nav-list li {
      width: 25%;
      text-align: center;
      padding: 5px;
    }

    .nav-list li a {
      padding: 0px;
      font-size: 1em;
    }
    /* content changes */
    .content h1 {
      font-size: 1em;
      margin-top: 60px;;
    }
    /* footer changes */
    footer {
      font-size: 1em;
      padding: 2px;
    }
}

@media (min-width: 601px) {
  /* nav bar changes */
  nav {
    border-bottom: 5px solid rgb(194, 159, 194);
    flex-direction: row;
  }

  nav .name {
    font-size: 1.3em;
    margin: 0px;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
  }

  .nav-list {
    width: initial;
  }

  .nav-list li {    
    font-size: 1.2em;
    width: initial;
    padding: 10px;
    margin: 0px;
  }

  .nav-list li a {
    padding: 10px;
  }

  /* content changes */
  .content h1 {
    margin-top: 60px;
    font-size: 2em;
  }

  /* footer changes */
  footer {
    font-size: 1.2em;
    padding: 5px;
  }
}








