* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

/*
 mobile design - default view - add min widths for increasing screen sizes
*/

body {
  margin: 0;
  width: 100%;
}

nav, footer {
  width: 100%;
  background-color: rgb(167, 93, 167);
  position: fixed;
  overflow: hidden;
  z-index: 100;
}

footer {
  color: white;
  text-align: center;
  bottom: 0px;
  font-size: 0.8em;
}

/* navigation bar */
nav a {
  text-decoration: none;
  color: black;
}

nav .name {
  color: white;
  font-size: 1.1em;
}

.wide-nav-menu {
  display: none;
}

/* hamburger menu */
.narrow-nav-menu .hamburger-icon {
  cursor: pointer;
}

.narrow-nav-menu .narrow-nav-header {
  position: absolute;
  left: 0px;
  top: 0px;
}

.narrow-nav-menu .narrow-dropdown-menu {
  text-align: left;
  border: 1px solid black;
  max-height: 0;
}

.narrow-dropdown-menu li:hover {
  background-color: rgb(194, 159, 194);
}

.narrow-dropdown-menu.hamburger-menu-displayed {
  max-height: initial;
}
/* end of hamburger menu */

/* search field */
.search-component {
  font-size: 0.5em;
  position: fixed;
  top: 0;
  right: 0;
}

.search-component .search-box-label {
  position: absolute;
  top: 6px;
  left: 10px;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

.search-component .search-box-label.label-moved {
  top: -10px;
}

.search-component input {
  background: transparent;
  width: 80px;
  border: none;
  border-bottom: 1px solid rgb(194, 159, 194);
  z-index: 2;
}

.search-component .search-button {
  position: absolute;
  top: 3px;
  right: 10px;
  z-index: 3;
  cursor: pointer;
}

/* search results modal box */
.modalDialog {
	position: fixed;
	top: 20px;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog .close-search-modal {
  font-size: 20px;
  position: absolute;
  right: 5px;
  top: 10px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  pointer-events: auto;
}

.modalDialog.modalDialogActive {
  opacity: 1;
}

.modalDialog > div {
  width: 80%;
  min-height: 30%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	background: rgb(198, 182, 198);
	background: -moz-linear-gradient(rgb(198, 182, 198));
	background: -webkit-linear-gradient(rgb(198, 182, 198));
	background: -o-linear-gradient(rgb(198, 182, 198));
}

.modalDialog div h2 {
  font-size: 1.8em;
  text-decoration: underline;
}

.modalDialog .modal-search-query {
  font-size: 1.6em;
}

/* Container-specific section*/
#content-container {
  margin: auto;
  width: 100%;
}

.content {
  min-height: 100vh;
  max-height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid red;
}

.content .content-section-title {
  margin-top: 60px;
}

.content h1, h2, h3 {
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  font-weight: 400;
}

.content .section-description {
  text-align: center;
  font-size: 0.8em;
}

.content p {
  text-decoration: none;
  font-size: 0.8em;
  font-weight: 300;
}

/* Projects Page */
.components-container {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 0.8em;
  height: 100%;
}

/* Components List */
/* narrow-view */
.narrow-components-container {
  width: 100%;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.narrow-components-container .ac-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.narrow-components-container .ac-container li {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.narrow-components-container .ac-container .ac-menu-section {
  margin-bottom: 1px;
}

.narrow-components-container .ac-menu-section label {
  padding: 5px;
  position: relative;
  display: block;
  cursor: pointer;
  background: rgb(198, 182, 198);
  color: black;
}

.narrow-components-container .ac-menu-section label:hover {
  background: #A75DA7;
}

.narrow-components-container .ac-menu-section input {
  display: none;
}

.narrow-components-container .ac-menu-section .selected {
  background: #A75DA7;
  color: white;
}

.narrow-components-container .ac-menu-section .narrow-project-content {
  overflow: hidden;
  height: 0px;
  position: relative;
  transition: 0.3s all;
}

.narrow-components-container .narrow-project-content.active {
  min-height: 450px;
  height: 100%;
}

/* only display the larger container for the wider screens*/
.components-container {
  display: none;
}

/* narrow page */
.narrow-carousel h2{
  text-align: center;
}

.narrow-carousel img {
  width: 100%;
  object-fit: cover;
}

.narrow-carousel {
  position: relative;
  margin: 0 auto;
  min-height: 450px;
  padding: 5px;
  background: darkgrey;
  color: #A75DA7;
}

.narrow-carousel .narrow-dots-container {
  padding-top: 10px;
  text-align: center;
}

.narrow-carousel-page {
  display: none;
  position: relative;
  margin: 0 auto;
  margin-bottom: 10px;
}

.narrow-carousel-page.narrow-carousel-page-selected {
  display: block;
}

.narrow-carousel-page ul {
  list-style: none;
  padding: 0;
}

.narrow-carousel-page a {
  color: #A75DA7;
  font-size: 0.8em;
}

.narrow-carousel-page .image-text {
  text-align: center;
  margin: 20px;
  font-size: 1.2em;
}

.narrow-carousel-page img {
  display: block;
  margin: 0 auto;
}

.narrow-components-container .narrow-component-footer {
  position: absolute;
  bottom: 0px;
}

.narrow-component-footer a {
  text-decoration: none;
  font-size: 0.7em;
}

.narrow-component-footer .component-project-link {
  color: blue;
}

.narrow-component-footer .component-source-link {
  color: white;
}

/* Next & previous buttons */
.narrow-prev, .narrow-next {
  cursor: pointer;
  position: absolute;
  top: 200px;
  width: auto;
  margin-top: -22px;
  padding: 6px;
  color: black;
  background-color: rgba(100,100,100,0.2);
  font-weight: bold;
  font-size: 10px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.narrow-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.narrow-prev:hover, .narrow-next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dots/bullets/indicators */
.narrow-dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.narrow-dot.active, .narrow-dot:hover {
  background-color: rgb(199, 147, 199);
}

/* Component Footer */
.components-container .component-footer {
  position: absolute;
  bottom: 0px;
  padding-top: 10px;
}

.component-footer a {
  text-decoration: none;
  font-size: 0.7em;
}

.component-footer .component-project-link {
  color: rgb(110, 110, 247);
}

.component-footer .component-source-link {
  color: rgb(112, 109, 109);
}


/* Skills Page */

/* show all graphs in single column */
.skills-split-bar {
  margin: 0 auto;
  margin-top: 25px;
  height: 15px;
  font-size: 0.6em;
  display: flex;
  text-align: center;
  align-items: center;
}

.skills-split-bar .skills-split-front-end {
  background-color: rgba(226, 111, 188, 0.973);
}

.skills-split-bar .skills-split-back-end {
  background-color: lightblue;
}

.graphs {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.graphs .dev-skills-graphs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.graphs ul {
  list-style: none;
  padding: 0;
}

/* each graph consists of three rows:
  title
  top row (scale and content)
  bottom row (x-axis values)
*/
.graph {
  width: 90%;
  max-width: 230px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.graph .graph-title {
  text-align: center;
  font-size: 1em;
  padding-bottom: 20px;
}

.graph .graph-top-row {
  width: 100%;
  border-bottom: 1px solid lightgray;
  display: flex;
}

.graph .graph-top-row ul {
  list-style: none;
  margin: 0;
}

.graph-scale {
  width: 25%;
  font-size: 0.7em;
}

.graph-scale li {
  text-align: right;
  padding-bottom: 10px;
}

.graph .graph-content {
  width: 75%;
  display: flex;
  justify-content: space-around;
}

/* edit the bottom row (x-axis) of the graph */
.graph .graph-bottom-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 0.7em;
}

/* the space at the left under the scale */
.graph-bottom-row .graph-space {
  width: 25%;
  min-width: 60px;
}

.graph-bottom-row .graph-x-axis{
  width: 75%;
}

.graph-x-axis li {
  float: left;
  width: 25%;
  transform: rotate(45deg);
  padding-top: 10px;
  padding-bottom: 10px;
}

/* manage the bars in the bar graph*/
.graph-content .rating {
  width: 25px;
  align-self: flex-end;
}

/* give each topic a unique colour */
.rating.javascript-proficiency {
  background-color: #FFAD41;
}
.rating.html-css-proficiency {
  background-color: #38BAF0;
}
.rating.reactjs-proficiency {
  background-color: #69D12B;
}
.rating.jquery-proficiency {
  background-color: #FA8CB0;
}
.rating.other-one-proficiency {
  background-color: #9FCE57;
}
.rating.other-two-proficiency {
  background-color: #3DC694;
}
.rating.other-three-proficiency {
  background-color: #4EC1F2;
}
.rating.other-four-proficiency {
  background-color: #8D9EFF;
}

/* graph heights */
.rating.none {
  height: 100%;
  background-color: white;
}

.rating.quarter {
  height: 25%;
}

.rating.half {
  height: 50%;
}

.rating.three-quarter {
  height: 75%;
}

.rating.full {
  height: 100%;
}


/* Tooltop Functionality */
 /* Tooltip container */
 .tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


/* About Page */
#contact-section .contact-links {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

#contact-section .contact-link {
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-section .contact-link img {
  margin: 5px;
}

#contact-section .contact-link a {
  text-decoration: none;
  color: black;
  font-size: 0.8em;
}


/*
 * Responsive Changes - Medium Width
 */
@media (min-width: 361px) {
  /* nav bar changes */
  .nav-list .active {
    background-color: rgb(194, 159, 194);
  }
  .nav-list li:hover {
    background-color: rgb(194, 159, 194);
  }

  .narrow-nav-menu {
    display: none;
  }

  .wide-nav-menu {
    display: block;
    flex-flow: column;
    font-size: 1em;
    border-bottom: 2px solid rgb(194, 159, 194);
  }

  .wide-nav-menu .name {
    color: white;
    margin: auto;
    text-align: center;
    padding: 3px;
    font-size: 1em;
  }

  .wide-nav-menu .nav-list {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
  }

  .wide-nav-menu .nav-list li {
    padding-top: 2px;
    padding-bottom: 2px;
    display: block;
    width: 25%;
    text-align: center;
    padding: 5px;
  }

  .wide-nav-menu .nav-list li a {
    text-decoration: none;
    color: black;
    padding: 0px;
    font-size: 1em;
  }

  /* content changes */
  .content {
    padding-left: 10px;
    padding-right: 10px;
  }

  .content h1 {
    font-size: 1.2em;
    margin-top: 60px;
  }
  /* footer changes */
  footer {
    font-size: 1em;
    padding: 2px;
  }
  

  /* components-container only for larger screen */
  .components-container .components-list {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .components-container .component-list-item {
    text-decoration: none;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    text-align: left;
    cursor: pointer;
  }

  .components-container .component-list-item:hover {
    border-right: 2px solid rgb(167, 93, 167);
  }


  .components-container .selected-component {
    background: darkgrey;
    color: rgb(167, 93, 167);
    font-weight: 400;
  }

  .components-container .components-display-container {
    background-color: darkgrey;
    width: 100%;
    position: relative;
    min-height: 300px;
  }

  .components-display-container .component-display {
    min-height: 300px;
    position: absolute;
    opacity: 0;
  }

  .components-display-container .selected-component {
    opacity: 1;
    z-index: 50;
  }

  /* Carousel settings */
  /* wider-pages */
  .component-display .carousel {
    width: 90%;
    margin: 10px;
  }

  .carousel h2{
    text-align: center;
  }

  .carousel img {
    width: 100%;
    object-fit: cover;
  }

  .carousel-container {
    max-width: 800px;
    position: relative;
    margin: 0 auto;
    text-align: center;
  }

  .carousel-page {
      display: none;
      position: relative;
      margin: 0 auto;
  }

  .carousel-page ul {
    list-style: none;
    padding: 0;
  }

  .carousel-page ul a {
    color: rgb(167, 93, 167);
  }

  .carousel-page p a {
    color: rgb(167, 93, 167);
  }

  .carousel-page .image-text {
    text-align: center;
    margin: 20px;
    font-size: 1.2em;
  }

  .carousel-page img {
    display: block;
    margin: 0 auto;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 200px;
    width: auto;
    margin-top: -22px;
    padding: 6px;
    color: black;
    background-color: rgba(100,100,100,0.2);
    font-weight: bold;
    font-size: 10px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor:pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

/* Projects Page - menu on left of container*/
  .narrow-components-container {
    display: none;
  }

  .components-container {
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    font-size: 0.8em;
    height: 100%;
  }

  /* Components List */
  .components-container .components-list {
    list-style: none;
    width: 25%;
    margin: 0;
    padding: 0;
  }

  .components-container .component-list-item {
    text-decoration: none;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    text-align: left;
    cursor: pointer;
  }

  .components-container .component-list-item:hover {
    border-right: 2px solid rgb(167, 93, 167);
  }

  
  /* Projects page */
  .components-container .selected-component {
    background: darkgrey;
    color: rgb(167, 93, 167);
    font-weight: 400;
  }

  .components-container .components-display-container {
    background-color: darkgrey;
    width: 75%;
    position: relative;
    min-height: 500px;
  }

  .components-display-container .component-display {
    width: 100%;
    min-height: 500px;
    position: absolute;
    opacity: 0;
  }

  .components-display-container .selected-component {
    opacity: 1;
    z-index: 50;
  }

  /* Carousel settings */
  .component-display .carousel {
    width: 100%;
    margin: 0px;
  }

  .carousel h2{
    font-size: 1.5em;
    text-align: center;
  }

  .carousel-container {
    max-width: 800px;
    position: relative;
    margin: 0 auto;
    text-align: center;
  }

  .carousel-page {
      display: none;
      position: relative;
      margin: 0 auto;
  }

  .carousel-page ul {
    list-style: none;
    padding: 0;
  }

  .carousel-page ul li {
    color: rgb(167, 93, 167);
    text-align: center;
  }

  .carousel-page p {
    text-align: center;
    font-size: 1em;
  }

  .carousel-page p a {
    color: rgb(167, 93, 167);
  }

  .carousel-page .image-text {
    text-align: center;
    margin: 20px;
    font-size: 1.2em;
  }

  .carousel-page img {
    display: block;
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 200px;
    width: auto;
    margin-top: -22px;
    padding: 6px;
    color: black;
    background-color: rgba(100,100,100,0.2);
    font-weight: bold;
    font-size: 10px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }

  /* The dots/bullets/indicators */

  .dots-container {
    padding-top: 5px;
  }

  .dot {
    cursor:pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  /* Component Footer */
  .components-container .component-footer {
    position: absolute;
    bottom: 0px;
    padding-top: 10px;
  }

  .component-footer a {
    text-decoration: none;
    font-size: 0.7em;
  }

  .component-footer .component-project-link {
    color: rgb(110, 110, 247);
  }

  .component-footer .component-source-link {
    color: rgb(112, 109, 109);
  }

  /* Skills Page */
  .skills-split-bar {
    max-width: 300px;
    height: 15px;
    font-size: 0.7em;
  }
}

/*
 * Wide Screen design
 */
@media (min-width: 601px) {
  /* nav bar changes */
  .wide-nav-menu {
    border-bottom: 5px solid rgb(194, 159, 194);
    display: flex;
    flex-direction: row;
  }

  .wide-nav-menu .name {
    font-size: 1.3em;
    text-align: left;
    margin: 0px;
    padding: 15px;
  }

  .wide-nav-menu .nav-list {
    width: initial;
  }

  .wide-nav-menu .nav-list li {
    font-size: 1.2em;
    width: auto;
    min-width: 0;
    padding: 15px;
    margin: 0px;
  }

  .wide-nav-menu .nav-list li a {
    padding: 0px;
  }

  .search-component {
    font-size: 0.6em;
    top: 10px;
    right: 10px;
  }

  .search-component .search-box-label {
    top: 2px;
  }

  .search-component input {
    width: 100px;
  }

  /* content changes */
  #content-container {
    min-width: 601px;
    max-width: 1000px;
  }

  .content .content-section-title {
    margin-top: 65px;
    font-size: 2em;
  }

  .content h1, h2, h3 {
    font-size: 1.6em;
    line-height: 1.6em;
  }

  /* Components page */
  .components-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    justify-content: center;
  }

  .components-container .component-list-item {
    font-size: 1em;
    padding: 8px;
  }

  .components-display-container .component-display {
    min-height: 650px;
  }

  .carousel-container {
    max-width: 500px;
  }

  .carousel-page .long-image {
    max-width: 400px;
  }

  .component-footer a {
    font-size: 1em;
  }

  /* Skills page */
  .skills-split-bar {    
    max-width: 450px;
  }

  .graphs .dev-skills-graphs {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .dev-skills-graphs .graph {
    margin: 25px;
  }


  /* footer changes */
  footer {
    font-size: 1.2em;
    padding: 5px;
  }
}
