body {
  box-sizing: border-box;
  background-color: rgb(237, 238, 237);
  color: #4F6457;
  transition: all 0.5s;
}
.menuBar {
  background-color: #75B1A9;
  font-family: verdana;
}

.menuBar .section {
  display: inline-block;  
  position: relative;
  font-size: 10pt;
  border: 1px solid #ACD0C0;
}

.menuBar li.dropdown:hover > .submenu {
  display: block;
}

.menuBar .section a {
  background: #4F6457;
  color: #ffffff;
  display: block;
  padding: 12px 8px;
  text-decoration: none;
}

.menuBar .selected a.selected {
  background: #D9B44A ;
  color: #4F6457;
}

.menuBar .section a:hover {
  background: #D9B44A ;
  color: #4F6457;
}

.menuBar .submenu {
  display: none;
}

.submenu {
  display: block;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 200px;
}

.submenu li {
  display: block;
  border: 2px solid #F0F000;
}

.submenu li a {
  background: #999;
  color: #fff;
  display: block;
  margin-bottom: 1px;
  padding: 8px 6px;
}

.menu .submenu .submenu {
  left: 200px;
  position: absolute;
  top: 0px;
}

.content {
  padding-left: 15px;
  position: absolute;
  opacity: 1;
}

.content li {
  border: none;
  text-decoration: none;
}

.content a {  
  text-decoration: none;  
  color: #4F6457;
}

.content a:hover {  
  text-decoration: none;
  color: #75B1A9;
}

.hidden {
  opacity: 0;
}
