.address-form {
  border: 1px solid rgb(62, 214, 27);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
}
.checkboxes label {
  display: block;
  float: left;
  padding-right: 10px;
  white-space: nowrap;
}
.checkboxes input {
  vertical-align: middle;
}
.checkboxes label span {
  vertical-align: middle;
}
