* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: rgb(62, 214, 27);
}

.form-container {
  width: 500px;
  border: 1px solid rgb(62, 214, 27);
  border-radius: 10px;
  padding: 5px;
  padding-left: 0px;
}

.form-container h1 {
  text-align: center;
  font-weight: normal;
}

.form-container h2 {
  font-weight: normal;
}

.form-container .accordion-1 {
  display: none;
}

.form-container .ac-container input {
  width: 100%;
}

.form-container .ac-menu-section {
  border: 1px solid rgb(62, 214, 27);
  border-radius: 10px;
  padding: 5px;
}

.form-container .accordion-label {
  width: inherit;
  color: rgb(203, 204, 201);
  background-color: rgb(218, 255, 211);
  border-radius: 10px;
  height: 40px;
  font-size: 25px;
  cursor: pointer;
}

.form-container .content-section {
	overflow: hidden;
  height: 0px;
  padding-top: 5px;
  margin-bottom: 5px;
}

.form-container .content-section input {
  height: 40px;
  padding-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid rgb(62, 214, 27);
  border-radius: 10px;
}

.form-container .content-section input:placeholder {
  color: #b7f7c0;
}

.form-container .ac-menu-section {
  list-style: none;
  margin-left: -25px;
  margin-bottom: 1px;
}

.form-container .ac-container input:checked ~ .content-section{
	height: 100%;
}

.form-container .dropdown select {
  border: 1px solid rgb(62, 214, 27);
  border-radius: 10px;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
  color: black;
}

.form-container .checkboxes {
  margin-top: 10px;
}
.form-container .checkboxes input {
    float: left;
    margin-top: 5px;
    width: 20px;
    height: 12px;
}

.form-container label {
  margin-top: 5px;
}

.form-container .checkboxes label {
  margin-top: 5px;
  padding-top: 5px;
}

.form-container .ac-menu-section .submit-address {
  height: 40px;
  font-size: 25px;
  border: 1px solid white;
}

.clear {
  clear: both;
}
