.address-form {
  border: 1px solid blue;
  border-radius: 10px;
  margin: 30px 10px 10px 10px;
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ccc;
}

input:focus {
  border: 1px solid blue;
  background-color: rgb(213, 224, 242)
}

.checkboxes label {
  display: block;
  float: left;
  padding-right: 10px;
  white-space: nowrap;
}
.checkboxes input {
  vertical-align: middle;
}
.checkboxes label span {
  vertical-align: middle;
}
