* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: rgb(62, 214, 27);
}
.signup-form {
  width: 500px;
  border: 1px solid rgb(62, 214, 27);
  border-radius: 10px;
  padding: 5px;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  width: 100%;
  border: 1px solid rgb(62, 214, 27);
  border-radius: 5px;
  background-color: #e3e3e3;
}

input:focus {
  border: 1px solid #fffb28;
  background-color: rgb(213, 224, 242)
}

input:hover {
  border: 1px solid #21ff3b;
}
